.clipNotch {
    position: relative;
    border: 2px solid rgb(218, 74, 145);

    overflow: hidden;
    clip-path: polygon(
      0 10%,
      10% 0,
      90% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%
    );
    box-shadow: 0 0 20px rgba(218, 74, 145, 0.7), 0 0 40px rgba(218, 74, 145, 0.5), 0 0 60px rgba(218, 74, 145, 0.3);
    animation: glowing 2s infinite;
  
  }
  
  .clipNotch::before,
  .clipNotch::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #da4a91; 
    clip-path: polygon(
      0 10%,
      10% 0,
      90% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0% 90%,
      0% 10%
    );
    filter: brightness(2); 

  }
  
  .clipNotch::after {
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    filter: brightness(1.5);

  }

  .techStacks {
    display: flex;
    justify-content: space-between;
  }
  
  .techStacksMobile {
    flex-direction: column;
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 10px rgba(218, 74, 145, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(218, 74, 145, 0.5);
    }
    100% {
      box-shadow: 0 0 10px rgba(218, 74, 145, 0.7);
    }
  }
  
  
  
.width{
    width:80%
}

.transparentPink {
    background-color: rgba(255,255,255,0.2);
  }
  